*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(35, 28, 0,0.8);
    height: 80px;
    width: 100%;
    position: fixed;
}

header  ul{
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}

header li{
    display: inline;
    margin-right: 4vw;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}